{% extends 'base.html.twig' %}

{% block body %}
    <h1>Historikoa</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ 'Id' | trans }}</th>
                <td>{{ historikoa.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Onartzedata' | trans }}</th>
                <td>{% if historikoa.onartzedata %}{{ historikoa.onartzedata|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'Bogargitaratzedata' | trans }}</th>
                <td>{% if historikoa.bogargitaratzedata %}{{ historikoa.bogargitaratzedata|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'Bogestekaeu' | trans }}</th>
                <td>{{ historikoa.bogestekaeu }}</td>
            </tr>
            <tr>
                <th>{{ 'Bogestekaes' | trans }}</th>
                <td>{{ historikoa.bogestekaes }}</td>
            </tr>
            <tr>
                <th>{{ 'Indarreandata' | trans }}</th>
                <td>{% if historikoa.indarreandata %}{{ historikoa.indarreandata|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'Aldaketakeu' | trans }}</th>
                <td>{{ historikoa.aldaketakeu }}</td>
            </tr>
            <tr>
                <th>{{ 'Aldaketakes' | trans }}</th>
                <td>{{ historikoa.aldaketakes }}</td>
            </tr>
            <tr>
                <th>{{ 'Fitxategia' | trans }}</th>
                <td>{{ historikoa.fitxategia }}</td>
            </tr>
            <tr>
                <th>{{ 'Createdat' | trans }}</th>
                <td>{% if historikoa.createdAt %}{{ historikoa.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'Updatedat' | trans }}</th>
                <td>{% if historikoa.updatedAt %}{{ historikoa.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_historikoa_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_historikoa_edit', { 'id': historikoa.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
