{% extends "base.html.twig" %}

{% trans_default_domain 'user_bundle' %}

{% block title %}New User{% endblock %}

{% block authenticated %}{% endblock %}

{% block navright %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#" onclick="document.forms['{{ form.vars.name }}'].submit()" class="fa fa-floppy-o"> Gorde</a></li>
        <li><a href="{{ path('admin_user_index') }}" class="fa fa-undo"> Utzi</a></li>
        <li>&nbspp;</li>
    </ul>
{% endblock %}

{% block body %}
	<div id="messages">
		{{ include('@User/user/_messages.html.twig') }}
	</div>  
	{{ include ('@User/user/_form.html.twig', {}) }}
{% endblock body %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}